# Nebius AI Studio Credentials Configuration
NEBIUS_API_KEY= v1.CmMKHHN0YXRpY2tleS1lMDBocXhhMmFuaDExZXhyN2USIXNlcnZpY2VhY2NvdW50LWUwMHp0Z25qNjdtZDdoZHF2eDIMCJTe89AGEIW_gcUDOgsIk-GLnAcQgLblf0ACWgNlMDA.AAAAAAAAAAGS9u0LAKgCw4DMoOhjfTjB3OoACh8ogbHUigbo72zxhybvkkDR2-aGIWGl2cwQpkTbtFXr2V8ZsafivvFnM8oG

# Optional Project Development Overrides
# LLM_MODEL_NAME=meta-llama/Llama-3.3-70B-Instruct
# NEBIUS_BASE_URL=https://api.studio.nebius.ai/v1